<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text-to-notion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="landing">
        <div class="box" id="welcome">
            <h1 class="title">Welcome to Text-to-Notion</h1>
            <p class="subtitle">make your notebook digital with Notion API</p>
            <button id="begin_button">Start</button>
        </div>
    </div>
    <div class="upload">
        <h3 class="dropBoxTitle">Upload your notes</h3>
        <form enctype="multipart/form-data" method="post">
            <input 
                type="file" 
                name="file" 
                id="upload" 
                accept="image/png, image/jpeg, image/jpg, image/pdf, image/txt"
                multiple="false">
            <input type="submit" id="submit" value="Upload">
        </form>
    </div>
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>